@import '_mixins'
    
body
    font-family: 'Roboto', sans-serif
    background-color: $grayPrimary

h1, h2, h3, h4, h5, h6
    margin: 0

h1
    font-family: 'Roboto', sans-serif
    font-weight: 900
    letter-spacing: 2px
    font-size: 3rem

h2 
    font-family: 'Roboto', sans-serif
    font-weight: 400
    letter-spacing: 18px
    font-size: 2rem 

.fas, .fab, .far
    cursor: pointer
    margin: 0 0.5rem

.icon-blue
    color: $primaryColor

.icon-dark
    color: $darkGray

.btn
    height: 40px
    border: none
    border-radius: 2px
    cursor: pointer
    font-family: 'Roboto', sans-serif
    font-weight: 700
    margin: 1rem
    padding: 0 1rem
    font-size: 1.2rem


.btn-primary
    background-color: $primaryColor
    color: $white

.link-disabled
    pointer-events: none

.container
    min-height: 80vh
    padding: 0 3rem

.info-icon
    color: $darkGray
    +flex-column-center()
     
    i 
        font-size: 10rem
        cursor: default

    h2 
        color: $darkBlue
        font-size: 3rem
        font-weight: 700
        margin: 2rem 0


@media only screen and ( max-width: 600px )
    h1
        font-family: 'Roboto', sans-serif
        font-weight: 700
        letter-spacing: 2px
        font-size: 2rem

    h2 
        font-family: 'Roboto', sans-serif
        font-weight: 400
        letter-spacing: 12px
        font-size: 2rem

    .btn
        font-weight: 600
        margin: 0.5rem
        font-size: 1rem
    
    .container
        padding: 0 1rem

    .info-icon
        i 
            font-size: 5rem
        h2 
            font-size: 2.5rem