
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,300&display=swap');


.title{
    color: #1B2F4C;
    letter-spacing: 15px;
}

/* navbar */ 
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #C13838;
    height: 4rem;
    padding: 0 2rem;
}

.nav-items > a{
    margin: 0 1rem;
    text-decoration: none;
    color: #FFF7C7;
    font-weight: 500;
    font-size: 1.2rem;
}

.img-logo{
    height: 2.8em;
}

/* container resume */
.cont-resume{    
    background-color: rgba(243, 243, 243, 0.4);
    width: 70%;
    margin: 1rem auto;
}

.resume-head{
    display: flex;
    align-items: center;
    background-color: #1B2F4C;
    color: #CDEDDA;
    height: 12rem;
    padding-left: 5rem;
}

.photo > img{
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
    border: 5px solid #CDEDDA;
    margin: 0 2rem;
}

/* body resume */
.resume-body{
    display: grid;
    grid-template-columns: 1fr 2fr;
}

/* info */
.cont-info{
    display: flex;
    align-items: center;
    padding-left: 2rem;
    background-color: #F3F3F3;
    height: 15rem;
}

.cont-info > div > p{
    margin-bottom: 2rem;
}


/* about me */
.cont-about{
    padding: 1rem 2rem;
}

.about > p {
    color: #333333;
}

/* education */
.cont-education{
    padding: 0 2rem;
    margin-top: 3rem;
}

.studies{
    margin: 2rem 0;
}

.studies > p{
    margin: 0.5rem ;
}

.title1{
    color: #023073;
    font-size: 1.2rem;
    font-weight: 500;
}

.subtitle1{
    color: #333333;
}

.year{
    color: #333333;
}

/* knowledges */
.cont-knowledges{
    padding: 2rem;
}

.knowledges{
    display: flex;
    align-items: center;
    padding-left: 1rem;
}

.circle-level{
    margin: 0 0.5rem;
}

.subtitle{
    margin-right: 1rem;
}

/* languages */

.languages{
    display: flex;
    align-items: center;
    padding-left: 1rem;
}

/* styles portfolio */

.cont-portfolio{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.head-portfolio{
    display: flex;
    align-items: center;
    background-color: #1B2F4C;
    color: #CDEDDA;
    height: 12rem;
    padding-left: 5rem;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid #2F4F4F ;
    border-radius: 50%;
    background-color: #C13838;
    height: 9rem;
    width: 9rem;
    margin: 3rem;
}

.logo > img{
    height: 7rem;
}

/* portfolio body */
.body-portfolio{
    margin: 2rem 5rem;
}

.title-portfolio{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.cont-projects{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 3rem;
    margin: 2rem 0;
}

.card-project{
    display: flex;
    flex-direction: column;   
    padding: 1rem 0; 
    background-color: #DCDCDC;
    border-radius: 10px;
    border: 2px solid #2F4F4F;
}

.card-project > img{
    align-self: center;
    border-radius: 5px;
}

.card-project > h2{
    margin: 1rem;
}

/* styles projest list*/
.list-project{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 25%;
    /* border-bottom: 1px solid #023073; */
    margin: 2rem 0;
}

/* details project */
.cont-details-project{
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
    border-bottom: 2px solid #1B2F4C;
}

.details{
    display: flex;
    margin-bottom: 2rem;
}

.details > img{
    width: 16rem;
    height: 12rem;
}

.info-project{
    margin: 0 2rem;
}


/* technologies */
.techno{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 2rem;
    height: 2rem;
}

.techno > h4{
    width: 6%;
}

.cont-bar{
    width: 80%;
    height: 1rem;
    margin: 0 1rem;
    background-color: #1B2F4C;
    border-radius: 10px;
}

.bar{
    height: 1rem;
    border-radius: 10px;
    margin: 0;
    background-color: #C13838;
}

/* icons */

.fas, .fab{
    margin: 0 1rem;
    cursor: pointer;
}